
*{
    padding: 0px;
    margin: 0px;
}
.banarsection{
   width:885px;
height: 600px;
background-color: rgba(229, 84, 115, 0.10);
display: flex;
padding-bottom: 0px;
padding: 0px 240px;

justify-content: space-around;

}
.banartext{
   padding-top: 167px;
    width: 500px;
    margin-right: 97px;
 
}

.banarheader{
    width: 450px;
   
   font-size: 35px;
   margin-bottom: 32px;
}
.banartextpara{
    width:420px ;
    font-size: 14px;
    margin-bottom: 32px;
}
.banarphoto img{
    padding-top: 50px;
    height: 550px;
    padding-bottom: 0px;
    margin-left: 97px;

}
.headerbutton{
 
    padding-bottom: 0px;
    background-color: #E55473;
    border-radius: 8px;
    width: 177px;
    height: 64px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
   
  


}
