
/*header style*/
*{
    padding: 0px;
    margin: 0px;
}
.banarsection{
   width:885px;
height: 600px;
background-color: rgba(229, 84, 115, 0.10);
display: flex;
padding-bottom: 0px;
padding: 0px 240px;

justify-content: space-around;

}
.banartext{
   padding-top: 167px;
    width: 500px;
    margin-right: 97px;
 
}
.banarheader{
    width: 450px;
   
   font-size: 35px;
   margin-bottom: 32px;
}
.banartextpara{
    width:420px ;
    font-size: 14px;
    margin-bottom: 32px;
}
.banarphoto img{
    padding-top: 50px;
    height: 550px;
    padding-bottom: 0px;
    margin-left: 97px;

}
.headerbutton{
 
    padding-bottom: 0px;
    background-color: #E55473;
    border-radius: 8px;
    width: 177px;
    height: 64px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
}
/*main style */
.three_img_section{
    display: flex;
}
.main_section{
    margin: 50px 200px;
}
.main_tile{
    padding: 24px 0px;
}
.tile_bar{
padding-bottom: 60px;
text-align: center;
}
.img_div{
    height: 350px;
    width: 400px;
    position: relative;
    border-radius: 300px 300px 0px 0px;

}
#img_one{
    background-color:  rgba(167, 33, 98, 0.15);
   
}
#img_two{
    background-color: rgba(5, 151, 160, 0.15);
   
}
#img_three{
   background-color: rgba(71, 125, 17, 0.15);
  
}
.three_img_section img{

    width: 250px;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    
}
.img_divt{
   
    margin: 0px 10px;

}

.flower_name{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 40px;
    text-decoration: underline;
}
.help_part_div{
   padding-top: 50px;
   align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.icon img{
    height: 40px;
    width: 40px;
}
.help_text{
    display: flex;
    justify-content: space-around;
   
}
.help_section{
    height: 150px;
    background-color: rgba(39, 39, 39, 0.05);
}

/*hot deals section */
.hot_deals_section{
    padding: 0px;
    margin: 0px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 300px;
}
.hot_deals_img img{
    width: 150px;
    padding-right: 250px;
   
}
.hotdivtext{
    padding-left:260px;
    width: 530px;
    height:150px;
    text-align: center;
}
.hot_deals_header{
    padding-bottom: 24px;
    font-size: 35px;
    font-weight: 800;
    font-family: 'Lucida Sans Unicode';
}
.hotdeals_button{
    margin-top: 24px;
    background-color: #E55473;
    border-radius: 8px;
    width: 177px;
    height: 64px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
}
.hot_deals_header span{
    color: #E55473;
}
.instgram_section{
    margin: 10px 200px;
  
}
.insta_tilebar{
    text-align: center;
    padding-bottom: 24px;
}
.insta_tile{
    font-size: 35px;
    padding-bottom: 24px;
}
.insta_img_div{
    display: flex;
    justify-content: space-around;
    margin-bottom:50px;
   
}
.insta_img img{
    width: 220px;
}
.search_div{
    height:300px;
    background-image: url('../Rectangle\ 9.png');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  align-items: center;
  text-align: center;
  color: black;

}
.search_div h1{
    font-size: 35px;
    padding-top:100px;
    padding-bottom: 16px;

}
.search_div p{
    padding-bottom: 30px;
}
.search_input{
    width: 450px;
   height: 30px;
   padding-left: 10px;
}
.search_button{
    height:35px;
    width: 100px;
    background-color: #E55473;
    font-weight: 700;
    border-radius: 8px;
    color: #FFFFFF;
}
/*footer secton */
.footersection{
margin: 50px 0px;
    padding: 0px;
    background-color: #111010;
   color: #FFFFFF;
   height: 300px;
 text-align: center;
}
.footersection h1{
font-size: 35px;
padding-top: 100px;
padding-bottom: 24px;
}
.footersection span{
    color:#E55473;
}
.smal_para{
    padding-top: 24px;
    opacity: 40%;
}
